{% extends 'C:\Users\iamku\OneDrive\Desktop\talentserve project\Academic-project\healthhub\homepage\templates\base.html' %}

{% load static %}
{% block title %}
    Contact Us{% endblock title %}


{% block main %}

<div class="loginmain" style="background-image: url(https://images.unsplash.com/photo-1495214783159-3503fd1b572d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    <div class="login" style="height: 90%;">
        <h2>Contact Us</h2>
        <form action="">
<input type="text" placeholder="FullName">
<input type="text" placeholder="Subject">
<input type="text" placeholder="Email">

<textarea style="padding: 10px; border-radius: 10px;" name="query" id="" placeholder="Subject Description" cols="30" rows="10"></textarea>
    <input type="submit" value="Contact Us">


        </form>

    </div>

  </div>
 
{% endblock main %}
    
    