{% extends 'base.html' %}


{% block title %}
    Welcome to HealthHub
{% endblock title %}
    

{% block main %}
    
    <div class="container">
        <div class="card">
            <h1>Welcome To</h1>
            <h1 id="tagname">HealthHub</h1>
            <p>Lorem ipsum dolor, sit amet  adipisquam aperiam rerum molestiae nesciunt dolores nisi? Error ipsam eveniet dignissimos quam, provident commodi fugiat nobis eligendi!</p>
        
            <a href="/login/" id="start">Let's start your journey</a>
         </div>
       
       
    </div>
<div class="benefits">
   <center> <h1>Benefits of Joining with Us</h1></center> 

   <div class="perkcard">
    <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia iste dicta ab deleniti voluptates dignissimos, pariatur optio, provident atque cumque doloribus, aliquam ratione explicabo magnam quia vel itaque? Aliquid, aperiam.</div>
    <div class="picture"><img src="https://cdni.iconscout.com/illustration/premium/thumb/open-book-5514317-4603564.png" alt=""></div>
   </div>


   <div class="perkcard">
    <div class="picture"><img src="https://cdni.iconscout.com/illustration/premium/thumb/man-doing-exercise-with-gym-ball-10099799-8228800.png" alt=""></div>

    <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia iste dicta ab deleniti voluptates dignissimos, pariatur optio, provident atque cumque doloribus, aliquam ratione explicabo magnam quia vel itaque? Aliquid, aperiam.</div>
   </div>


   <div class="perkcard">
    <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia iste dicta ab deleniti voluptates dignissimos, pariatur optio, provident atque cumque doloribus, aliquam ratione explicabo magnam quia vel itaque? Aliquid, aperiam.</div>
    <div class="picture"><img src="https://static.vecteezy.com/system/resources/previews/019/038/692/original/business-team-creating-artificial-intelligence-machine-learning-and-artificial-intelligence-concept-png.png" alt=""></div>
   </div>



   <div class="perkcard">
    <div class="picture"><img src=" https://images.vexels.com/media/users/3/264613/isolated/preview/08bcb373a3ed126ce0c739286f26c883-pasta-illustration-food.png " alt=""></div>

    <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia iste dicta ab deleniti voluptates dignissimos, pariatur optio, provident atque cumque doloribus, aliquam ratione explicabo magnam quia vel itaque? Aliquid, aperiam.</div>
   </div>
</div>

<div class="footer">
    <p>&copy Major Project</p>
</div>
{% endblock main %}
    <!-- -->